<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178433887233-462c8j4fljl6icecracqoi4hr0kgl3mh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178433887233-462c8j4fljl6icecracqoi4hr0kgl3mh</string>
	<key>API_KEY</key>
	<string>AIzaSyAVRnLtYgo1crtIr5W8b1hB2Nz_EsYfTaE</string>
	<key>GCM_SENDER_ID</key>
	<string>178433887233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.code-cache-box</string>
	<key>PROJECT_ID</key>
	<string>food-wise-239be</string>
	<key>STORAGE_BUCKET</key>
	<string>food-wise-239be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178433887233:ios:4f47a05514baf863044400</string>
</dict>
</plist>